@model IEnumerable<ac554215MIS4200Project.Models.student>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    <input type="button" class="btn btn-info" value="Create New Student" onclick=" relocate_home()">

    <script>
function relocate_home()
{
     location.href = "http://cob.ohio.edu/ac554215/students/Create";
}
    </script>
</p>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentSince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentSince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.ActionLink("Edit Student", "Edit", new { id = item.studentID }) |
            @Html.ActionLink("Student Details", "Details", new { id = item.studentID }) |
            @Html.ActionLink("Delete Student", "Delete", new { id = item.studentID })
        </td>
    </tr>
}

</table>
