@model IEnumerable<ac554215MIS4200Project.Models.course>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    <input type="button" class="btn btn-info" value="Create New Course" onclick=" relocate_home()">

    <script>
function relocate_home()
{
     location.href = "http://cob.ohio.edu/ac554215/courses/Create";
}
    </script>
</p>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Edit Course", "Edit", new { id = item.courseID }) |
                @Html.ActionLink("Course Details", "Details", new { id = item.courseID }) |
                @Html.ActionLink("Delete Course", "Delete", new { id = item.courseID })
            </td>
        </tr>
    }

</table>
